<aside class="sidebar">
    <div class = "sidebar-logo">
        <a href="/">Tune In</a>
    </div>

    <nav class="sidebar-nav">
        <a href="/" class="sidebar-link active">
            <span class="sidebar-icon">⌂</span>
            <span>Home</span>
        </a>

        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">♫</span>
            <span> Trending </span>
        </a>

        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">▶</span>
            <span> Subscriptions </span>
        </a>

        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">□</span>
            <span> Library </span>
        </a>

        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">◷</span>
            <span> Activity </span>
        </a>
    <div class="sidebar-section">
        <div class="sidebar-divider"></div>
        <p class="sidebar-heading">CREATOR STUDIO</p>
        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">↑</span>
            <span> Upload </span>
        </a>
        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">⇄</span>
            <span> Collab </span>
        </a>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-divider"></div>
        <p class="sidebar-heading">SETTINGS</p>
 
         <a href="#" class="sidebar-link">
            <span class="sidebar-icon">◉</span>
            <span> Profile </span>
        </a>

         <a href="#" class="sidebar-link">
            <span class="sidebar-icon">⚙</span>
            <span> Account Settings </span>
        </a>
    </div>
    <div class="sidebar-logout">
        <a href="#" class="sidebar-link">
            <span class="sidebar-icon">↪</span>
            <span> Logout </span>
        </a>

    </div>

